name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Checks
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20]

    env:
      NODE_ENV: test

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check out ref
        uses: actions/checkout@v4

      - name: Install node modules
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Package
        run: npm run package
